@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400&family=Poppins:wght@300&family=Quicksand:wght@500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.input-form {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 80px auto;
    margin-bottom: 50px;
    border: 1.5px solid #000;
    border-radius: 5px;
    padding: 30px;
}

.input-form h2{
    text-align: center;
    font-size: 30px;
    border-bottom:1px solid #000;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.input-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Poppins', monospace;
    letter-spacing: 0.01em;
    border: 2px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn {
    text-align: center;
    width: 110px;
    padding: 10px;
    margin: 10px auto 0;
    background: #000000;
    color: #fff;
    border-radius: 4px;
    display: block;
    transition:all 0.3s;
}

.btn:hover {
    font-weight: 600;
    background: #fff;
    color: #000000;
}

.list{
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    border: 1.5px solid #000;
}

.list h2{
    text-align: center;
    font-size: 30px;
    border-bottom:1px solid #000;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.add li{
    list-style: none;
    font-size: 20px;
   

}

.btn1 {
    text-align: center;
    width: 110px;
    padding: 10px;
    margin: 10px auto 0;
    background: #000000;
    color: #fff;
    border-radius: 4px;
    display: none;
    transition:all 0.3s;
}

.btn1:hover {
    background: #e93030;
    color: #ffffff;
    border: 2px solid red;
}

.task li {
    list-style: none;
    font-size: 20px;
    width: 100%;
    padding: 15px 15px;
    margin: 10px auto 0;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
}
.task
{
    position: relative;
}

.task img{
    width: 20px;
    cursor: pointer;
    position:absolute;
    right: 4% !important;
    /* left: 78%; */
    /* margin-left: 94%; */

}

